html {
  height: 100%;
  scroll-behavior: smooth;
}

a {
  display: block;
  text-decoration: none;
  color: initial;

  &:hover {
    color: initial;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}
