.project-item .swiper-button-prev,
.project-item .swiper-button-next {
  display: none;
}

.project-item:hover {
  .swiper-button-prev,
  .swiper-button-next {
    display: flex;
  }

  .swiper-button-disabled {
    display: none !important;
  }
}

.list-navigation .swiper-button-prev,
.list-navigation .swiper-button-next {
  border: 1px solid #707070;
}

.mobile-navigation .swiper-button-prev,
.mobile-navigation .swiper-button-next {
  display: none;
}
