@media (min-width: 1660px) {
  .container {
    max-width: 1600px;
  }

  .col-xxxl--5 {
    flex: 0 0 auto;
    width: 20%;
  }
}

.project-item:hover {
  .swiper-button-prev,
  .swiper-button-next {
    display: flex;
  }

  .swiper-button-disabled {
    display: none !important;
  }
}

// @media (max-width: 768px) {
//   .list-navigation .swiper-button-prev,
//   .swiper-button-next {
//     display: none;
//   }
// }
